/* Set overall page font */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 1200px;
    background-color: #ffeaab;
}

header {
    height: 10%;
    background-image: url("simple.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffeaab;
}

#image {
    height: 75%;
    background: url("us.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#info {
    height: 20%;
    background-image: url("Info.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
}

#soon {
    height: 20%;
    background-image: url("Soon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
}

/* Style header */
#navigation {
    background: #a94a2d;
    padding: 1%;
    position: sticky;
    top: 0px;
    text-align: center;
}

a {
    padding-right: 20px;
    left: 100px;
    font-size: 15px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}