/* Set overall page font */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 1200px;
    background-color: #ffeaab;
}

header {
    height: 10%;
    background-image: url("simple.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffeaab;
}

#image {
    height: 75%;
    background: url("us.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#info {
    height: 20%;
    background-image: url("Info.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
}

#soon {
    height: 20%;
    background-image: url("Soon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
}

#hotel {
    height: 200px;
    background-image: url("hotel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Style header */
#navigation {
    background: #a94a2d;
    padding: 1%;
    position: sticky;
    top: 0px;
    text-align: center;
    z-index: 500;
}

#navigation a {
    padding-right: 20px;
    left: 100px;
    font-size: 15px;
}

#navigation a:link {
    color: white;
}

#navigation a:visited {
    color: white;
}

#form {
    margin-left: 50%;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 150%;  /* Adjust based on your form's height */
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hotelBlock {
    color: #a94a2d;
    position: relative;
    left: 25%;
    word-wrap: break-word;
    padding-right: 50%;
    padding-bottom: 5%;
}

#hotelBlock a {
    font-size: 20px;
}

#hotelBlock a:link {
    color: #a94a2d;
}

#hotelBlock a:visited {
    color: #a94a2d;
}

iframe {
    pointer-events: unset!important;
}

#registry a {
    padding-right: 20px;
    left: 100px;
    font-size: 20px;
}

#registry a:link {
    color: #a94a2d;
}

#registry a:visited {
    color: #a94a2d;
}

#registry {
    color: #a94a2d;
    position: relative;
    left: 25%;
    word-wrap: break-word;
    padding-right: 50%;
}

#moreInfo {
    color: #a94a2d;
    position: relative;
    left: 25%;
    word-wrap: break-word;
    padding-right: 50%;
    padding-bottom: 5%;
}

#padres {
    background-image: url("padres.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60%;
}

#niagra {
    background-image: url("niagra.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60%;
}

#engaged {
    background-image: url("engaged.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60%;
}

#house {
    background-image: url("hosue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60%;
}